body{
background-color: rgb(112, 111, 119);

}

nav{
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(92, 180, 160);
  /* float: right; */


}

nav a{
  text-align: center;
  background-color: rgb(120, 235, 234);
  color: rgb(18, 71, 142);
  padding: 0.75em 0.5em; /* values top/bottom and left/right*/
  margin: 0.2em 0.3em;
  /* float: right; */
  width: 5vw;


  /* transition time */
  transition: background-color 0.3s;
}

nav a:hover{
  background-color: rgba(50, 54, 50, 0.34);

}

h2:hover{
  background-color:rgb(233, 229, 168);
}

h1{
  text-align: center;
  background-color: rgb(236, 80, 27);
  font-family: "Broadway";
  font-size: 3em;
}

h2{
  background-color: rgb(195, 180, 99);
  text-align: center;
  font-style: italic;
  font-family: "Bradley Hand ITC";
  font-size: 2em;
  transition: background-color 0.5s;
}


p{
  text-align: center;
  font-style: bolder;
  font-size: 1em;

}

#sec01{
  background-color: rgb(148, 176, 59);
  padding: 0.3em 0.5em;
  marging: 0.25em 0.5em;
  box-sizing: border-box;
}

#sec02{
  background-color: rgb(176, 247, 7);
  padding: 0.25em 0.5em;
  marging: 0.25em 0.5em;


}

nav, #sec01, #sec02{
  overflow: auto;


}
