body{
  margin: 0;
}

nav{
  display: flex;
  justify-content: flex-end;
  background-color: #E4B100;
  
}

nav a{

padding: 1em;
margin: 1em;
background-color: #03d;
color: #ddf;

transition: background-color: 0.7s;
}

nav a:hover{
  background-color: #680063;
}

header, main{
  overflow: auto;
}
